docs/api
docs/wikidocs
build.properties
build
public
data
fileserver.php
fileserver2.php
calendarserver.php
groupwareserver.php
package.xml
tmpdata
tests/temp
tests/.sabredav
*.swp
composer.lock
vendor
bin/phing
bin/phpunit
bin/vobjectvalidate.php
bin/phpdocmd
bin/phpunit
