# Unit tests
tests/temp
tests/.sabredav
tests/cov

# Custom settings for tests
tests/config.user.php

# PHPUnit test Cache
.phpunit.result.cache

# ViM
*.swp

# Composer
composer.lock
vendor

# Composer binaries
bin/vobject
bin/generate_vcards
bin/phpdocmd

# Other testing stuff
/tmpdata
/data
/public

# Build
build
build.properties

# Docs
docs/api
docs/wikidocs

.php_cs.cache
.php-cs-fixer.cache
