# Unit tests
tests/temp
tests/.sabredav
tests/cov

# ViM
*.swp

# Composer
composer.lock
vendor

# Composer binaries
bin/phing
bin/phpunit
bin/vobject
bin/generate_vcards
bin/phpdocmd
bin/phpunit

# Various debugging/testing stuff
fileserver.php
fileserver2.php
calendarserver.php
groupwareserver.php
tmpdata
public

# Build
build
build.properties

# Docs
docs/api
docs/wikidocs
