<?xml version="1.0"?>
<phpunit
  colors="true"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
>

  <testsuites>
      <testsuite name="sabre-http">
          <directory>../vendor/sabre/http/tests/HTTP</directory>
      </testsuite>

      <testsuite name="sabre-dav">
          <directory>Sabre/DAV</directory>
      </testsuite>
      <testsuite name="sabre-davacl">
          <directory>Sabre/DAVACL</directory>
      </testsuite>
      <testsuite name="sabre-caldav">
          <directory>Sabre/CalDAV</directory>
      </testsuite>
      <testsuite name="sabre-carddav">
          <directory>Sabre/CardDAV</directory>
      </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
       <directory suffix=".php">../lib/</directory>
    </whitelist>
  </filter>
</phpunit>
