<phpunit
  colors="true"
  bootstrap="bootstrap.php"
  >
  <testsuite name="SabreDAV">
    <directory>Sabre/</directory>
  </testsuite>

  <filter>
    <whitelist>
       <directory suffix=".php">../lib/</directory>
    </whitelist> 
    <blacklist>
        <file>../lib/Sabre.autoload.php</file>
    </blacklist>
  </filter>
</phpunit>
